<h1>OpenMD</h1>

<p>When Doctors have Better Data, Patients get Better Care.</p>

<%= link_to 'Patient Sign Up', new_patient_registration_path %>
<%= link_to 'Doctor Sign Up', new_doctor_registration_path %>