<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="/assets/logo.svg" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>Start Being Cured, Before You Get Sick.</h1>
      <p>When Doctors have Better Data, Patients get Better Care.</p>
    </div>
    <div class="sign-up-buttons">
      <%= button_to 'Patient Sign Up', new_patient_registration_path, method: :get %>
      <%= button_to 'Doctor Sign Up', new_doctor_registration_path, method: :get %>
    </div>
  </div>
</div>
