<div class="hero">
  <div class="overlay"></div>
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="/assets/logo.svg" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>What if you could be cured, Before you got sick?</h1>
      <p>Prevent Life-Threatening Illnesses by Tracking your Health in just 5 Minutes a Day.</p>
    </div>

    <div class="sign-up-buttons">
      <%= button_to 'Patient Sign Up', new_patient_registration_path, method: :get %>
      <%= button_to 'Doctor Sign Up', new_doctor_registration_path, method: :get %>
    </div>
  </div>
</div>
