<h1>Log In to OpenMD</h1>
<div class="sign-up-buttons">
  <%= button_to 'Log in as a Patient', new_patient_session_path, method: :get %>

  <%= button_to 'Log in as a Doctor', new_doctor_session_path, method: :get %>
</div>