<%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
<h1 id="chart-header">Your vitals over time</h1>
<div class="chart">
  <h3 id='chart-title'>Respiratory Rate</h3>
  <%= line_chart @respiratory_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Heart Rate</h3>
  <%= line_chart @heart_rate_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Body Temperature</h3>
  <%= line_chart @body_temp_chart_data %>
</div>