.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #000;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: image-url('background.jpg');
  overflow: hidden;

  @include background($hero-image, linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3rem;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: 2rem auto;
    padding: 15%;
    text-align: center;
    position: relative;

    .hero-logo img {
      height: 4rem;
      margin-bottom: 1rem;
    }

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6rem;
        margin-bottom: 0.5rem;

        @include media($large-screen) {
          font-size: 1.8rem;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4rem;
        margin: 0 auto 1rem auto;

        @include media($large-screen) {
          font-size: 1.1rem;
          max-width: 50%;
        }
      }
    }

    form.button_to {
      display: inline-block;
      margin: 0.5rem;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #324766;
    opacity: 0.5;
  }
}