.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #000;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: '/assets/background.jpg';

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top));
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;

  .hero-inner {
    @include outer-container;
    @include clearfix;
    margin: auto;
    padding: 15%;
    text-align: center;
    position: relative;

    .hero-logo img {
      height: 4em;
      margin-bottom: 1em;
    }

    .hero-copy {
      text-align: center;

      h1 {
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          font-size: 1.1em;
          max-width: 50%;
        }
      }
    }

    form.button_to {
      display: inline-block;
      margin: 0.5rem;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #324766;
    opacity: 0.5;
  }
}